language: go
sudo: true

cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod

go:
    - 1.11.x

install: sudo make setup postgres.setup clean

before_script:
    - sudo /etc/init.d/postgresql stop
    - make postgres.migrations.run

script: make ci

after_script: make postgres.kill

after_success: make coverage.push

notifications:
    email:
        on_success: change
        on_failure: always

services:
    - docker
